@import url(http://fonts.googleapis.com/cssfamily=Fjalla:500+One|Cantarell:400,400italic,700italic,700);
html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

body {
  min-height: 100%;
  min-width: 100%;
  background: #565656;
  margin: 0;
  padding: 0;
  text-align: center;
}

#weatherApp {
  background: red;
}

.weatherBox {
  background: #d7cec7;
  border-radius: 25px;
  box-shadow: inset 0 0 10px #000000;
  margin-top: 2%;
  padding: 1% 0 2% 0;
}

.city {
  text-align: center;
  color: #565656;
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
  font-size: 255%;
  line-height: 70px;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin: 0;
  padding: 0;
}

.description {
  text-align: center;
  color: #565656;
  font-family: 'Cantarell', sans-serif;
  text-transform: lowercase;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: -1px;
  margin: 0;
  padding: 3px;
}

.switchContainer {
  font-color: #565656;
  font-family: 'Cantarell', sans-serif;
  position: relative;
  line-height: 80px;
  width: 33%;
  height: 30px;
  border: solid #565656;
  cursor: pointer;
  border-radius: 25px;
  margin: 42px 0 0 20px;
}
.switchContainer .switch {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #76323f;
  opacity: .4;
  transition: all 0.15s ease;
  left: 0;
  border-radius: 25px;
}

.switchContainer.off {
  border: solid #565656;
}

.switchContainer.off .switch {
  left: 50%;
  background-color: #76323f;
}

.label {
  position: absolute;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 1px 0 0 0;
  color: #565656;
  font-size: 20px;
}

.label.degC {
  left: 55%;
}

.label.degF {
  right: 45%;
}

.temp {
  text-align: center;
  color: #565656;
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: -9px;
  font-size: 160px;
  margin: 0 0 0 7px;
  padding: 0px;
}

hr.line {
  border-top: 2px solid #76323f;
  opacity: .4;
  text-align: center;
  width: 85%;
}

.days {
  text-align: center;
  color: #565656;
  font-family: 'Cantarell', sans-serif;
  text-transform: lowercase;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: -1px;
  margin: 0;
  padding: 0;
}

.degHighLow {
  padding: 10px 0 0 0;
  text-transform: uppercase;
  font-size: 14px;
}
